<h1>Login</h1>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<div class="flex w-full max-w-xs">
    <form class="self-center bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action="/login" method="POST">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email" >Email</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="email" id="email" name="email" required>
        </div>
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password" >Password</label>
            <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type="password" id="password" name="password" required>
        </div>
        <div class="m-5 flex items-center justify-between">
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Login</button>
        </div>
        Don't have an account? 
    <a class="inline-block align-baseline font-bold text-sm text-blue-500 hover:text-blue-800" href="/register">Register here</a>
    </form>
    

</div>
